{% extends "base.html" %}

<!--{% load staticfiles %}-->
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

{% endblock %}

<!--{% block title %}Автотьютор{% endblock %}-->

<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% block scripts %} {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-9">
        <form class="lead" method="get">
            <div style="margin: 20px">
                <br>

                <h4>
                    Autotutor
                </h4>
                <br>
                <p>Сервис выполнен в ходе научно-исследовательского семинара магистерской программы НИУ ВШЭ «Компьютерная Лингвистика».</p>
                <p>В рамках проекта исследовательская группа занималась разработкой алгоритма для рекомендации текстов русского языка для студентов-иностранцев.
Основная идеея проекта — отказаться от стандартных CEFR-подобных метрик сложности текста и использовать более подробную декомпозицию языковых явлений применительно к знаниям студента.
                </p>
                <p>В реализованном сервисе пользователю предлагается прочитать текст и выполнить тест не менее четырёх раз, после чего пользователь получает набор текстов,
                    рекомендованных алгоритмом. В процессе накопления информации о знаниях пользователя (то есть с увеличением количества пройденных тестов) алгоритм будет выдавать более точные рекомендации.</p>
                <!--<p>К каждой рекомендации пользователь может давать обратную связь, в личном кабинете указана точность работы алгоритма.</p>-->
                <p>Источник текстов: научно-популярное издание ТАСС «Чердак», закрытое в 2019 году. Сейчас используемые нами и им подобные тексты можно найти на сайте <a href="https://nauka.tass.ru">nauka.tass.ru</a>.
                За предоставленные тексты благодарим команду проекта <a href="https://www.hse.ru/ma/ling/studprojects">Анализатор научно-популярных текстов</a>.</p>

                <br><p><strong>Краткое описание алгоритма</strong></p>
                <p>В процессе предобработки текст разбивается на совокупность векторов трех уровней: уровня слова, предложения и текста. Векторы слов —  это предобученные word2vec-эмбеддинги;
                    векторы предложений — это совокупность значений, соответствующих различным грамматическим явлениям, содержащимся в предложении, которые представляют сложность для студентов-иностранцев;
                    векторы текстов — это общетекстовые метрики сложности типа Type Token Ratio (отношение уникальных лексем ко всем токенам),
                    <a href="https://en.wikipedia.org/wiki/Lix_(readability_test)">lix</a> и других.</p>
                <p>Проходя тесты, студент отвечает на вопросы о предложениях из текста: понятно ли ему то или иное предложение. Отвечая на вопросы, студент производит действие, схожее с разметкой датасета,
                    и в течение прохождения нескольких текстов (от четырёх, больше — лучше) создаются
                    три размеченных датасета (векторы текстов, предложений и слов размечаются как подходящие и не подходящие студенту).
                    Эти датасеты отображают знания студента. Далее  используется алгоритм ближайших соседей, чтобы из
                    предобработанного набора текстов подобрать такие тексты, чьи составные векторы наиболее близки к положительно размеченным
                    векторам из соответствующего датасета студента, но с небольшим зазором, чтобы текст не оказался слишком прост. </p>

                <!--<br>-->
                <a href="https://github.com/bbkjunior/Autotutor_project/blob/master/related_materials/Autotutor.pdf">Подробнее об алгоритме</a>
                <br>

                <p><a href="https://sites.uclouvain.be/eurocall2019/wp-content/uploads/2019/08/EUROCALL2019_poster-session-1_Babakov-2.pdf">Постер на концференции EUROCALL 2019</a>
                <br>
                <!--<br>-->
                <a href="https://github.com/bbkjunior/Autotutor_project">Код на GitHub</a></p>
                <!--<br>-->
                <strong>Участники</strong><br/>Бабаков Николай<br/>Исупова Наталья<br/>Катричева Надежда</p>
                <!--<br>-->
                <p><strong>Кураторы</strong><br/>Бонч-Осмоловская Анастасия Александровна<br/>Еремина Ольга Сергеевна</p>


                <!--<br>-->
                <!--<br>-->
                <!--<br>-->
                <p><strong>Контакты</strong><br/>
                Nikolay Babakov, Moscow, Russia, <a href="mailto:bbkhse@gmail.com">bbkhse@gmail.com</a><br/>
                Natalya Isupova, Moscow, Russia, <a href="mailto:nata_isupova@inbox.ru">nata_isupova@inbox.ru</a><br/>
                Nadezhda Katricheva, Moscow, Russia, <a href="mailto:n.katricheva@gmail.com">n.katricheva@gmail.com</a><br/>
                Anastasiya A. Bonch-Osmolovskaya, Moscow, Russia, <a href="mailto:abonch@hse.ru">abonch@hse.ru</a><br/>
                Olga Eremina, Moscow, Russia, <a href="mailto:oeremina@hse.ru">oeremina@hse.ru</a></p>

                <!--<br>-->

                <br>
                <br>
                <br>
                <!--<br>-->



            </div>
        </form>
    </div>
{% endblock %}

