{% extends "base.html" %}

<!--{% load staticfiles %}-->
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

{% endblock %}

<!--{% block title %}Автотьютор{% endblock %}-->

<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

{% block scripts %} {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-9">
        <form class="lead" method="post">
            <div style="margin: 20px">
                <h2>
                    Привет, {{ username }}!
                </h2>
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <h3>
                    <font color="green">Как пользоваться Автотьютором?</font>
                </h3>
                <br>
                <p>Если вы здесь <strong>в первый раз</strong>, вам следует пройти начальные тесты. </p>
                <p>Что это такое? Вам будет предложен текст, который нужно прочитать, а затем - 5 вопросов, на которые
                    нужно ответить "Да" или "Нет". Не забудьте нажать кнопку "Отправить". Так наш алгоритм получит
                    информацию о ваших знаниях. Пройти нужно 4 теста - когда вы закончите, внизу страницы появится
                    кнопка "Перейти к рекомендованным текстам".
                    Нажмите её, подождите 15-20 секунд и вы перейдете на страницу с текстом, который рекомендует
                    алгоритм. Вы можете также нажать на "Получить рекомендацию" в левом меню.
                    После прочтения вы можете нажать кнопку "Читать другой рекомендованный текст", и вам будет предложен
                    другой текст. </p>
                <p><a class="btn btn-lg btn-primary" href="/tutor/tasks/" role="button">Начать проходить тесты</a></p>
                <br>
                <p>Если вы <strong>уже отвечали на тесты и хотите читать тексты</strong>, нажмите на <a
                        href="/tutor/read/">"Получить рекомендацию"</a> в левом меню. </p>
                <p>Вы перейдете на страницу с рекомендованным текстом. После прочтения вы можете нажать кнопку "Читать
                    другой рекомендованный текст", и вам будет предложен другой текст.</p>
                <p> Чтобы алгоритм мог лучше подбирать вам тексты, вам следует пройти еще тесты. Сделать это можно,
                    нажав <a href="/tutor/tasks/">"Пройти тест"</a> в левом меню.</p>

            </div>
        </form>
    </div>
{% endblock content %}


